extends layout

block content
  h1= title

  div(id='code') 

  form(method='POST' action='')
    div.form-group
      label(for='name') Write Code:
      input#son.form-control(type='textarea', placeholder='Edit code' name='son' value=(""))
      input#son.form-control(type='hidden',  name='sessid' value=(id))
    button.btn.btn-primary(type='submit') Submit

  p #{code}

  if errors 
    ul
      for error in errors
        li!= error.msg
  script(src='javascripts/ed.js')
